<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Twitter RSS parser</title>
        <link rel="icon" type="image/x-icon" href="//abs.twimg.com/favicons/twitter.ico"/>
    </head>

<h2>HTML Forms</h2>

<form action="feed/">
      <label for="screen_name">Twitter screen name:</label><br>
      <input type="text" id="screen_name" name="screen_name"><br>
      <label for="no_replies">Filter out replies?:</label>
      <input type="checkbox" id="no_replies" name="no_replies" value=yes><br>
      <label for="media_only">Only media?:</label>
      <input type="checkbox" id="media_only" name="media_only" value=yes><br><br>
      <input type="submit" value="Submit">
</form> 

</body>
</html>
